body, html{
  padding: 0;
  margin: 0;

}

.display1{
  background: #0099CC;

}

.display2{
  background: #FF8800;
  display: none;
}

.display{
  width: 50%;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  padding-left: auto;
  padding-right: auto;
  animation-duration:2s;
}
#tempoTotal1,
#tempoSto1{
  color: #0099CC;
  
}
#tempoTotal2,
#tempoSto2{
  color: #FF8800;

}


.display h1{
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 5%;
}

.score{
  font-size: 9em;
  text-align: center;
}

img{
  width: 10em;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  padding-top: 10em;

}
